$header-height: 72.27px;
$header-height-lg: 148.89px;
$header-height-xxl: 87.89px;

.slick-slider {
  .slick-list {
    .slick-slide {
      .banner {
        position: relative;

        >img {
          object-fit: cover;
          width: 100%;
          height: calc(100vh - $header-height);

          @include media-breakpoint-up(lg) {
            height: calc(100vh - $header-height-lg);
          }

          @include media-breakpoint-up(xxl) {
            height: calc(100vh - $header-height-xxl);
          }
        }

        .textbox {
          padding-top: 30px;
          color: $white;

          @include media-breakpoint-up(lg) {
            padding-top: 50px;
          }

          @include media-breakpoint-up(xl) {
            padding-top: 100px;
          }

          @include media-breakpoint-up(xxl) {
            padding-top: 150px;
          }

          .content {
            text-align: center;

            .slogan-1 {
              font-size: 30px;
              font-weight: 600;
              margin-bottom: 20px;
              color: inherit;
              line-height: 1.2;

              @include media-breakpoint-up(sm) {
                font-size: 40px;
              }

              @include media-breakpoint-up(lg) {
                font-size: 64px;
              }
            }

            .slogan-2 {
              font-size: 24px;
              font-weight: 400;
              margin-bottom: 30px;
              color: inherit;
              line-height: 1.2;

              @include media-breakpoint-up(sm) {
                font-size: 30px;
              }

              @include media-breakpoint-up(lg) {
                font-size: 36px;
              }
            }

            ul {
              list-style-type: disclosure-closed;

              @include media-breakpoint-up(lg) {
                list-style-type: disc;
                display: flex;
                flex-direction: row;
                justify-content: center;
              }

              li {
                width: fit-content;
                text-align: start;

                &::marker {
                  color: $red;
                }

                @include media-breakpoint-up(lg) {
                  &::marker {
                    color: $white;
                  }

                  margin-right: 28px;

                  &:first-child {
                    list-style-type: none;
                    padding-left: 0;
                  }

                  &:last-child {
                    margin-right: 0;
                  }
                }

                @include media-breakpoint-up(xl) {
                  margin-right: 38px;
                  padding-left: 10px;
                }

                @include media-breakpoint-up(xxl) {
                  margin-right: 49px;
                  padding-left: 21px;
                }
              }
            }

            .button_container {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              gap: 20px;
              margin-bottom: 30px;

              @include media-breakpoint-up(lg) {
                margin-bottom: 50px;
              }

            }

            .learn-more {

              // display: flex;
              // flex-direction: column;
              @include media-breakpoint-up(lg) {
                // margin-bottom: 30px;
              }

              >div {
                margin-left: auto;
                margin-right: auto;
              }

              button {
                text-align: center;
                text-decoration: none;
                color: $white;
                // align-self: center;
                background-color: unset;
                border: none;
                margin-left: auto;
                margin-right: auto;

              }
            }

            p {
              display: none;

              @include media-breakpoint-up(md) {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .slick-arrow {
    z-index: 1;
    top: 50%;
    height: 23px;
    width: 23px;
    background-color: $white;
    border-radius: 50%;
    outline: unset;

    &:focus {
      top: 50%;
      background-color: $white;
    }

    &::before {
      font-size: 30px;
      color: $cyan;
      display: flex;
      width: inherit;
      height: inherit;
      justify-content: center;
      align-items: center;
    }
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .slick-dots {
    bottom: 10px;

    li {
      margin: 0;

      &.slick-active {
        button {
          &::before {
            color: $cyan;
          }

          &:focus {
            &::before {
              color: $cyan;
            }
          }
        }
      }

      button {
        &::before {
          font-size: 6px;

          @include media-breakpoint-up(lg) {
            font-size: 10px;
          }
        }

        &:focus {
          &::before {
            color: $cyan;
          }
        }
      }
    }
  }
}

#values-section {
  padding: 100px 0;
  background-color: $gray-100;

  .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;

    .box {
      font-weight: 600;
      text-align: center;
      flex: 1 1 calc(50% - 20px);

      @include media-breakpoint-up(md) {
        flex: 1 1 calc(25% - 20px);
      }

      .image_wrapper {
        margin-bottom: 20px;

        img {
          width: 200px;
          height: 200px;
          object-fit: contain;
          margin: 0 auto;
        }
      }

      .value {
        line-height: 1.5;
      }
    }
  }

  .button_wrapper {
    text-align: center;
  }
}

#services-section {
  padding: 100px 0;
  background-color: $gray-300;

  @include media-breakpoint-up(lg) {
    // height: 700px;
    background-image: url("../assets/images/our_services.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  >div {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  h2 {
    @include media-breakpoint-up(lg) {
      margin: 0;
      height: fit-content;
      // float: left;
    }
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include media-breakpoint-up(lg) {
      flex-direction: column;
      // flex-basis: 400px;
    }

    .box {
      background-color: $white;
      border-radius: 60px;
      padding: 10px 20px;
      font-weight: 600;
      // flex: 1 1 calc(50% - 20px);

      @include media-breakpoint-up(md) {
        // flex: 1 1 calc(25% - 20px);
      }

      @include media-breakpoint-up(lg) {
        padding: 10px 50px;
      }

      a {

        @include media-breakpoint-up(lg) {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
}

.the-team-section {
  padding: 100px 0;

  .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .member {
      flex-basis: calc(50% - 20px * 1 / 2);

      @include media-breakpoint-up(lg) {
        flex-basis: calc(25% - 20px * 3 / 4);
      }

      img {
        // width: 100%;
        margin-bottom: 10px;
      }

      .name {
        font-weight: 600;

        @include media-breakpoint-up(lg) {
          font-size: 20px;
        }
      }

      .title {
        font-weight: 400;

        @include media-breakpoint-up(lg) {
          font-size: 20px;
        }
      }

      .button {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}